In [1]:
import pandas as pd

data = pd.read_csv('../airport-frequencies.csv')

In [2]:
data.head()

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.9
1,307581,6589,01FL,ARCAL,NaN,122.9
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.8
3,60191,6756,04CA,CTAF,CTAF,122.9
4,59287,6779,04MS,UNIC,UNICOM,122.8

In [3]:
highest_aiiport_ref = (data['airport_ref'] > 6500)

In [4]:
highest_aiiport_ref

0        True
1        True
2        True
3        True
4        True
         ...
28922    True
28923    True
28924    True
28925    True
28926    True
Name: airport_ref, Length: 28927, dtype: bool

In [5]:
data.loc[highest_aiiport_ref]

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.90
1,307581,6589,01FL,ARCAL,NaN,122.90
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.80
3,60191,6756,04CA,CTAF,CTAF,122.90
4,59287,6779,04MS,UNIC,UNICOM,122.80
...,...,...,...,...,...,...
28922,51247,27242,ZYTL,ATIS,ATIS,126.65
28923,51248,27242,ZYTL,TWR,DALIAN TWR,118.25
28924,51243,27243,ZYTX,ATIS,ATIS,127.45
28925,51244,27243,ZYTX,TWR,SHENYANG TWR,118.10
28926,51190,27244,ZYYJ,TWR,TWR,130.00

In [6]:
data.loc[highest_aiiport_ref, ['type', 'description', 'frequency_mhz']]

        type          description  frequency_mhz
0       CTAF                 CTAF         122.90
1      ARCAL                  NaN         122.90
2       CTAF  CEDAR KNOLL TRAFFIC         122.80
3       CTAF                 CTAF         122.90
4       UNIC               UNICOM         122.80
...      ...                  ...            ...
28922   ATIS                 ATIS         126.65
28923    TWR           DALIAN TWR         118.25
28924   ATIS                 ATIS         127.45
28925    TWR         SHENYANG TWR         118.10
28926    TWR                  TWR         130.00

[15064 rows x 3 columns]

In [7]:
data['type'].unique()

array(['CTAF', 'ARCAL', 'UNIC', 'APP', 'GND', 'TWR', 'CNTR', 'ARTC',
       'MISC', 'A/D', 'MULT', 'A/G', 'ATIS', 'INFO', 'OPS', 'PMSV',
       'APP/DEP', 'AWOS', 'UNICOM', 'FSS', 'RDO', 'CLD',
       'Woodlands Adviso', 'AFIS', 'COM', 'Non controlled', 'ctaf', 'FIA',
       'Ciljuge Info', 'HIS', 'ATS', 'ACC', 'RDR', 'DEP', 'afis',
       'TWR: BIRK', 'TRFC', 'RMP', 'MF', 'ATF', 'VFR Advisory', 'CPR1',
       'Ground', 'AAS', 'RCO', 'CTAF(R)', 'Departures', 'Ctaf', 'MIL',
       'ARR/DEP', 'CLNC DEL', 'tfc', 'UNICOM ltd hrs O', 'TOWER', 'TFC',
       'TCA', 'ASOS', 'Unicom', 'Ambulance Dispat', 'Advisory', 'Gliding',
       'Vhf', 'ARR', 'RADIO', 'PAL', 'VDF', 'APRON ADV', 'INTL AIR',
       'PVT ADV', 'EMR', 'TML', 'LWIS', 'MF/RDO', 'RCO. Bcst', 'APRON',
       'VFR ADV', 'APRT RDO', 'FBO', 'PAD', 'info', 'Info', 'Dolmar INFO',
       'GÃ¶ssenheim INFO', 'DIR', '131.7', 'SAB - VOR', 'ENG VOR',
       'ILS - IEN', 'GCA', 'FIS', 'PTD', 'Schaffen Radio', 'GE', 'POST',
       'EDFG', 'TOWER / INFO', 'Tower / Info:', 'INFO (8,33khz)',
       'AFIS non-certifi', 'METAR', 'INFORMATION', 'RADAR', 'ACC Sector',
       'DEL', 'RDo', 'ILS 17', 'ILS 25', 'FIRE', 'Radio', 'RAD/APP',
       'ILS', 'Nationwide Glide', 'Ops', 'CAC', 'Radar', 'Dir', 'LARS',
       'APP/RAD', 'ILS Rw 32/14', 'RAD', 'Fire service', 'APP vhf',
       'Director', 'GRN', 'Zone / CAC', 'Tower', 'TWR 1', 'TWR 2', 'ZONE',
       'grn', 'PAR', 'FIR', 'GCCD', 'AD', 'FIC (MIL)', 'Dutch mil',
       'ground', 'APP/TWR', 'Approach', 'radio frequency', '-', 'GENERAL',
       'Club.', 'Oskarshamn Airpo', 'INF', 'local airport(li', 'Silute',
       'Paluknys radio', 'AC', 'GTE', 'D200', 'Unmanned', 'PA GF',
       'Special rules ap', 'DURBAN Approach', 'KING SHAKA ATIS',
       'KING SHAKA INT.', 'VOT \tTGV', 'General', 'AFIS-TOWER', 'FLKS',
       'NDOLA TWR', 'CTR', 'Auto-Info', 'AutoInfo', 'AIS', 'safetycom',
       'Safety Comm', 'DAAIS', 'SAFETYCOM', 'Safety com', 'Safetycom',
       'SafetyCom', 'App', 'DLV', 'GMMD', 'TWR GRND', 'ATIS (en)',
       'ATIS (fr)', 'SMC', 'East', 'West', 'APPROACH / TOWER',
       'HF/S.S.B.  Altn.', 'RDO  HF/S.S.B', 'PFLT', 'rdo', 'Volmet',
       'Air to Air Local', 'Tropic Air Ops', 'CONTROL', 'TWR/APP',
       'App/TWR', 'HF', 'VHF', 'North Area', 'South Area', 'EBB', 'ATC',
       'NDB', 'SSB', 'VOR', 'DAY VFR FLIGHTS', 'APPR', 'CTRL',
       'PRIVATE JSPL', 'Dhule', 'Rdo', 'AWOS-3P', 'CTAF/UNICOM', 'GCO',
       'FCC', 'SFA', 'ACP', 'GROUND', 'TOWER/CTAF', 'ATIS/AWOS',
       'ILS RWY14', 'RFSS', 'AWOS-3', 'asos', 'HEL', 'APP/DEP Backup',
       'APP/DEP Backup2', 'TWR2', 'Awos', 'COMD POST', 'CRAF', 'LECH_TWR',
       'LEVC_N_TACC', 'BAA Company Freq', 'LEHC_AFIS', 'LEZG_APP',
       'Air/Air', 'ACBS', 'GMC', 'twr', 'ATIS DEP', 'LERE_RADIO', 'RF',
       'LESU A/A', 'LESU_AFIS', 'A/A', 'APPROACH', 'SIV', 'AUTO INFO',
       'Orange French AF', 'Sisteron', 'ATIS/V', 'Auto information',
       'approach', 'TWR/AFIS', 'ARSA', 'TRSA', 'APRS', 'APRW', 'CDC',
       'PPR-request', 'TACAN', 'VORTAC', 'ILS RWY 32', 'Pavullo Radio',
       'Valbrembo Radio', 'tower', 'HANDLING & GA', 'Bubovice RADIO',
       'MTWR', 'Center', 'Tower Primary', 'Tower Secondary',
       'Distance Radar', 'Leaving', 'Runway', 'Weather', 'GND Crew',
       'OVAR TWR', 'CLR DLVR', 'START', 'TWR ALTN', 'lrpv', 'Air to Air',
       'ARR ALPNACH', 'ARR EMMEN', 'New frequeny (8.', 'TAFR', 'HAVAS',
       'Clearance', 'INFO STENKOVEC', 'EMERG', 'TWR/APP ALTN',
       'Subotica RADIO', '126.5', 'VOR-DME', 'unicom', 'TWR North',
       'TWR S', '122.8 unicom', 'NLF', '123.5', 'SUPP', 'AWIB',
       'CTAF (MBZ)', 'Delivery', 'Unattended', 'CTAF (CFZ)', 'MBZ', 'CFZ',
       'Ctrl', 'Manual', 'TIBA', 'ATC backup', 'Ground to Ground',
       'Mangla Tower', 'D-ATIS', 'DOHA APP RADAR', 'HAMAD TERM INFO',
       'HAMAD Tower', 'CLRN', 'DEPT', 'Beja tower', 'Ground Control',
       'CLR', 'TWR 06L/24R', 'TWR 06R/24L', 'RKTN_APP', 'RKTN_DEP',
       'RKTN_GND', 'RKTN_TWR', 'RKTU_APP', 'RKTU_GND', 'RKTU_TWR',
       'Multicom', 'APCH', 'FOC', 'Unknown', 'Gorelovo CTA',
       'Gorelovo Tower', 'SAME', 'AUX', 'MTZA', 'ILS:', 'Free', 'FCA',
       'ACE', 'APPR2', 'GRD', 'VHF - Air to air', 'AREA CTRL', 'Company',
       'MAIN', 'SECONDARY', 'Twr', 'PMR', 'Flight Planning',
       'Piarco Apch', 'Reserve', 'Service', 'ATIS (eng)', 'ATIS (rus)',
       'brandonlubin', 'LANDING', '122.1', 'NDD', 'KOS VOR-DME',
       'APP CONTROL', 'Oceanic', 'ATIS-A', 'ATIS-D', 'EMG', 'APP RAD',
       'CUT', 'STAR', 'ZNC', 'ACC"N" & ACC"S"', 'AREA CONTROL (E)',
       'AREA CONTROL (W)', 'TWR(HO)', 'TWR STD BY', 'watch hours 1030',
       'Cmp', 'STANDBY', 'DELIVERY', 'CONTROL-1', 'CONTROL-2',
       'CONTROL-3', 'UNK', 'GROUND (EAST)', 'GROUND (MAIN)',
       'GROUND (WEST)', 'TOWER (01L/19R)', 'TOWER (01R/19L)', 'TMA',
       'NUNUKAN INFO', 'AWIS', 'Brisbane Centre', 'ML CEN',
       'Avalon Approach', 'Melbourne Centre', 'Gliding Frequenc',
       'AD CEN', 'ED TWR', 'MULTICOM', 'UHF Ch 10', 'Area Frequency',
       'APP/DEP EAST', 'APP/DEP WEST', 'ATIS/VOR', 'TWR/CTAF', 'SMCV',
       'FAEL Special Rul', 'Lowvelt Military', 'Under TMA', 'TWR/Radio',
       'GF', 'Hand Held', 'AP01', 'AP02', 'AP03', 'APN01', 'APN02',
       'ATIS-I', 'ATIS-O', 'GND01', 'GND02', 'TWR01', 'TWR02'],
      dtype=object)

In [8]:
types = ['AWOS', 'UNICOM', 'FSS', 'RDO', 'CLD']

In [10]:
filt = data['type'].isin(types)

In [11]:
data.loc[filt]

,id,airport_ref,airport_ident,type,description,frequency_mhz
97,71572,10265,38AZ,AWOS,AWOS 2,119.225
103,333773,10702,3OH0,UNICOM,NaN,122.900
114,66205,11355,4AZ7,FSS,PRESCOTT RDO,122.300
117,60226,20622,4PA0,RDO,WILLIAMSPORT RDO,114.600
119,61753,11711,4TA0,FSS,MONTGOMERY CO RDO,122.200
...,...,...,...,...,...,...
28823,55293,27209,ZMDZ,RDO,HONGOR RDO,550.500
28825,55289,27210,ZMKD,RDO,KHAR US RDO,571.500
28828,55287,27211,ZMMN,RDO,RDO,571.500
28870,51181,27223,ZSPD,CLD,DEL,121.950
28885,51233,27225,ZSSS,CLD,DELIVERY,121.750